* {
  background-color: darkgray;
}
nav {
  display: flex;
  background-color: whitesmoke;
}

nav ul li{
  background-color: white;
  display: inline-block;
  margin: 20px;
  padding: 15px 45px;
  }

  #logo {
    width: 240px;
    height: 80px;
  }

  #hero {
    margin-left: 40px;
  }

  .card {
    /* display: flex; */
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  #card {
    display: inline-block;
    width: 480px;
    height: 480px;
  }

  #storeinfo {
    /* display: block; */
    width: 440px;
    height: 440px;
    float: left;
    outline: 2px dotted green;
    margin: 10px 10px 10px 20px;
  }